<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DakshinPay</title>
<style type="text/css">
<!--
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
.style3 {color: #FFFFFF}
.style4 {
	font-size: 50px;
	font-weight: bold;
}
.style7 {font-size: 36px}
.style9 {font-size: 14px}
.style10 {font-size: 24px}
-->
</style></head>

<body>
<table width="600" height="599" border="0" align="center" cellpadding="0" cellspacing="0" style="background: url('profile-bg.jpg'); background-size: cover; background-position:bottom;">
  <tr>
    <td height="108" align="center" bgcolor="#FFFFFF" style="border: 2px solid #4495ff;"><img src="dakshinpay logo_small.png" width="130" height="128" /></td>
  </tr>
  <tr>
    <td height="324" align="center"><p>&nbsp;</p>
      <p>
	  	<img src="store.jpg" width="175" height="175" style="border-radius: 200px;" />
		<img src="check.png" width="50" height="50" style="border-radius: 100px; position: absolute; margin-left: -50px;" />
	  </p>
      <h2 class="style3">Paid</h2>
      <p class="style3 style4" style="margin: 0;"><span class="style7">&#8377;</span>285.0*</p>
      <p class="style3">Dakshinpay has paid Swiggi on your <br />behalf 4th May, 2021<br /><br />Transaction ID: DPTX76116469</p>
	  <br />
  </tr>
  <tr>
    <td style="background: #2196f3; padding: 30px 30px;">
	  
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><p class="style3 style9">Your Dakshinpay Total Ourstanding Balance</p>
          <p class="style3 style4" style="margin: 0;"><span class="style9">&#8377;</span><span class="style10">285.0*</span></p></td>
          <td align="right"><p class="style3 style9"><br />
            <button style="border-radius: 100px; padding:10px; width:150px; background:white; border: 0; font-weight:bold; color: #3babff; font-size: 20px;">PAY NOW</button>
          </p>
          </td>
        </tr>
      </table>
      </tr>
</table>
</body>
</html>
